.carousel-indicators {
  left: unset;
}

.carousel-indicators button {
  border-radius: 50%;
  height: 7px !important;
  width: 8px !important;
  border: 1px solid #fff !important;
  background-color: transparent !important;
}

.carousel-indicators .active {
  background-color: #fff !important;
}

.section-1 {
  background-color: #fff !important;
  padding-top: 5rem;
}

.section-2 {
  background-color: #fff !important;
  padding-top: 4rem;
}

.carousel-item {
  height: 35rem;
}

.main-btn {
  background-color: transparent !important;
}

.main-btn:hover {
  background-color: #f2f2f5 !important;
  color: #000 !important;
}
